.subtitle {
  font-size: 14px !important;
  color: #606060;
}

.title {
  font-size: 14px !important;
  color: #030303;
}

.card-image {
  max-width: 185px;
  max-height: 172px;
  width: 100%;
  height: 100%;
}
section {
  max-width: 185px;

  width: 100%;
  height: auto;
  transition: all ease-in-out 0.2s;
  margin: 0 1rem 1.5rem 0 !important;
}

section:hover {
  transform: translate(0, -10px);
}

.info {
  margin: 0;
  padding: 0rem 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.auth {
  background: rgb(181, 247, 58);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0.5rem 1rem 0.5rem 0;
}
